affine==2.4.0
codecarbon==3.0.0
einops==0.8.1
fiona==1.10.1
geopandas==1.0.1
matplotlib==3.10.1
numpy==2.2.5
pandas==2.2.3
paths==0.0.1a1
psutil==7.0.0
pytest==8.3.5
rasterio==1.4.3
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
Shapely==2.1.0
torch==2.6.0
tqdm==4.67.1